@use "variables" as *;
@use "mixins" as *;

/* Set standard padding per styleguide,
following this guide https://sterlingcobb.medium.com/using-css-variables-with-margin-padding-4fec2ceb24d0 
*/
:root {
  --spacing-unit: 8px;

  --xs: calc(var(--spacing-unit));
  --sm: calc(2 * var(--spacing-unit));
  --md: calc(3 * var(--spacing-unit));
  --lg: calc((4 * var(--spacing-unit)) + 4px);
  --xl: calc(6 * var(--spacing-unit));
  --xxl: calc(12 * var(--spacing-unit));
  --xxxl: calc(18 * var(--spacing-unit));
  --xxxxl: calc(25 * var(--spacing-unit));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //Set font defaults per style guide
  font-family: $font;
  font-weight: $regular;
  font-size: 13px;
  line-height: 18px;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}

h1,
h2 {
  font-size: 37px; // 24px in styleguide for mobile but adjusted to match mockup
  line-height: 32px;
  font-weight: $semi-bold; // changed to match mockup even though should be $bold
}
//using as page header per style guide
h1 {
  @include tablet {
    font-size: 60px;
    line-height: 68px;
  }
}

//using as section header per styleguide
h2 {
  @include tablet {
    font-size: 36px;
    line-height: 44px;
  }
}
// styling section headers per styleguide. eg. "About the Musicians", "Photo Gallery", "Get In Touch"
*:is(main, footer) > section h2 {
  @include spacing-section-header;
}

//using as subheader per styleguide eg. article title and footer agents.
h3 {
  font-weight: $semi-bold;
  font-size: 21px; // 14px in styleguide for mobile but adjusted to match mockup
  line-height: 22px;

  @include tablet {
    font-size: 24px;
    line-height: 32px;
  }
}
/* adding spacing between subheader and paragraph components per styleguide. 
eg. article title, paragraphs and footer agents, agent details including emails. */
*:is(main, footer) > section *:is(h3, p, a) {
  @include spacing-between-components;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $color-primary-white;
}

// Divider line
hr {
  color: $color-secondary-mercury;
}

li {
  list-style: none;
}

/* align all text using same padding */
*:is(main, footer) > section > * {
  @include spacing-main-footer-sides;
}

//set font color per style guide for dark on light background
.main {
  color: $color-primary-bandsite-black;
}

.header {
  @include spacing-header-left;
  font-size: 13px;
  line-height: 18px;
  font-weight: $regular;
  background-color: $color-primary-bandsite-black;
  background-origin: content-box; //  make background image respect the padding of the box in mobile view
  color: $color-primary-white;

  //The Navigation Bar must be fixed to the top of the page
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;

  @include tablet {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
  &__logo {
    @include insert-logo(center);
    @include spacing-logo; // add top/bottom padding, and side margins
  }

  &__nav {
  }

  &__link-container {
    height: 100%;
    display: flex;
    @include tablet {
      justify-content: flex-start;
      align-items: stretch;
    }
  }
  &__nav-li {
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    display: flex;
    align-items: flex-end;
  }

  &__link {
    color: $color-secondary-mercury;
    font-size: 18px;
    font-weight: $semi-bold;

    border-bottom: 4px solid $color-primary-bandsite-black; // so text does not move on hover due to parent container flex-end

    @include spacing-nav-bar; // add top/bottom padding, and side margins
    @include tablet {
      font-size: 22px;
    }

    &--active {
      color: $color-primary-white;
      border-bottom: 4px solid $color-primary-white;
    }
    &:hover {
      border-bottom: 4px solid $color-primary-white;
    }
    // hide active link underline if hover another link.
    ul:has(&:not(&--active):hover) &--active {
      border-color: $color-primary-bandsite-black;
    }
  }
}

.cta {
  color: $color-primary-silver;
  &:hover {
    color: $color-secondary-bandsite-black;
  }
  &:active {
    color: $color-primary-white;
  }
}

.footer {
  font-size: 20px; // 13px in styleguide for mobile but adjusted to match mockup
  line-height: 26px; // 18px in styleguide for mobile but adjusted to match mockup
  font-weight: $regular;
  background-color: $color-primary-bandsite-black;
  background-origin: content-box; //  make background image respect the padding of the box
  color: $color-primary-white;

  @include tablet {
    font-size: 14px;
    line-height: 20px;
  }

  &__title {
  }
  &__social {
    display: flex;
    justify-content: space-between;
    width: 11rem;
  }
  &__social-icon {
    width: 35px;
    height: 35px;
  }
  &__agents {
  }
  &__agent {
  }
  &__logo {
    @include insert-logo(left);
    @include spacing-logo; // add top/bottom padding, and side margins
  }
  &__copyright {
    font-size: 16px; //reducing font to match mockup
  }
}

.label,
.button {
  font-size: 10px;
  line-height: 20px;
  font-weight: $bold;

  @include tablet {
    font-size: 12px;
  }
}
