@use "variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//padding for header and components spacing, per style guide
@mixin spacing-sections {
  @include spacing(padding, top, var(--md));
  @include spacing(padding, bottom, var(--sm));
  @include tablet {
    @include spacing(padding, top, var(--xl));
    @include spacing(padding, bottom, var(--lg));
  }
}

@mixin spacing-nav-bar {
  @include spacing(padding, bottom, var(--xs));
  width: 100%;

  @include tablet {
    @include spacing(padding, topbottom, var(--md));
    @include spacing(margin, sides, var(--md));
  }
  @include desktop {
    @include spacing(padding, topbottom, var(--lg));
    @include spacing(margin, sides, var(--sm));
  }
}

@mixin spacing-logo {
  @include spacing-nav-bar;
  @include spacing(margin, topbottom, var(--xs));
  @include tablet {
    width: 120px;
  }
  @include desktop {
    @include spacing(margin, left, var(--xl));
  }
}

/* Mixin to add margin or padding, on which side, and how big
Credit: https://codepen.io/ezos86/pen/QwQmZb */

@mixin spacing($type: margin, $direction: all, $amount: var(--md)) {
  @if $type == padding {
    @if $direction == all {
      padding: $amount;
    } @else if $direction == top {
      padding-top: $amount;
    } @else if $direction == topbottom {
      padding-top: $amount;
      padding-bottom: $amount;
    } @else if $direction == sides {
      padding-left: $amount;
      padding-right: $amount;
    } @else if $direction == left {
      padding-left: $amount;
    } @else if $direction == right {
      padding-right: $amount;
    } @else {
      padding-bottom: $amount;
    }
  } @else {
    @if $direction == all {
      margin: $amount;
    } @else if $direction == top {
      margin-top: $amount;
    } @else if $direction == topbottom {
      margin-top: $amount;
      margin-bottom: $amount;
    } @else if $direction == sides {
      margin-left: $amount;
      margin-right: $amount;
    } @else if $direction == left {
      margin-left: $amount;
    } @else if $direction == right {
      margin-right: $amount;
    } @else {
      margin-bottom: $amount;
    }
  }
}
