@use "variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//use to insert padding for header logo
@mixin spacing-logo {
  width: 100%;
  height: 30px;
  @include spacing(margin, topbottom, var(--md));

  @include tablet {
    width: 160px;
    @include spacing(margin, topbottom, var(--lg));
  }
}

//use to insert padding for navigation bar, per style guide
@mixin spacing-nav-bar {
  @include spacing(padding, bottom, var(--sm));
  width: 100%;

  @include tablet {
    width: fit-content;
    @include spacing(padding, topbottom, var(--lg));
    @include spacing(margin, sides, var(--md));
  }
  @include desktop {
    @include spacing(padding, topbottom, var(--lg));
    @include spacing(margin, sides, var(--sm));
  }
}

//use to insert padding for section header, per style guide
@mixin spacing-section-header {
  @include spacing(padding, top, var(--md));
  @include spacing(padding, bottom, var(--sm));
  @include tablet {
    @include spacing(padding, top, var(--xl));
    @include spacing(padding, bottom, var(--lg));
  }
}

//use to insert padding
@mixin spacing-body-sides {
  @include spacing(margin, left, var(--sm));
  @include spacing(margin, right, var(--sm));

  @include tablet {
    @include spacing(margin, left, var(--lg));
    @include spacing(margin, right, var(--lg));
  }
  @include desktop {
    @include spacing(margin, left, var(--xxl));
    @include spacing(margin, right, var(--xxl));
  }
}

//use to insert padding between components, per style guide
@mixin spacing-between-components {
  @include spacing(padding, topbottom, var(--sm));

  @include tablet {
    @include spacing(padding, topbottom, var(--lg));
  }
}

/* Generic mixin to to add margin or padding, on which side, and how big
Expanded mixin created by https://codepen.io/ezos86/pen/QwQmZb */

@mixin spacing($type: margin, $direction: all, $amount: var(--md)) {
  @if $type == padding {
    @if $direction == all {
      padding: $amount;
    } @else if $direction == top {
      padding-top: $amount;
    } @else if $direction == topbottom {
      padding-top: $amount;
      padding-bottom: $amount;
    } @else if $direction == sides {
      padding-left: $amount;
      padding-right: $amount;
    } @else if $direction == left {
      padding-left: $amount;
    } @else if $direction == right {
      padding-right: $amount;
    } @else {
      padding-bottom: $amount;
    }
  } @else {
    @if $direction == all {
      margin: $amount;
    } @else if $direction == top {
      margin-top: $amount;
    } @else if $direction == topbottom {
      margin-top: $amount;
      margin-bottom: $amount;
    } @else if $direction == sides {
      margin-left: $amount;
      margin-right: $amount;
    } @else if $direction == left {
      margin-left: $amount;
    } @else if $direction == right {
      margin-right: $amount;
    } @else {
      margin-bottom: $amount;
    }
  }
}
