@use "variables" as *;

/* -------------------------------------------------------------------------- */
/*                                Media queries                               */
/* -------------------------------------------------------------------------- */

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet-breakpoint) {
    @content;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   General padding                          */
/* -------------------------------------------------------------------------- */

//use to insert padding for header logo
@mixin spacing-logo {
  width: 100%;
  height: 1.875rem;
  @include spacing(margin, topbottom, var(--md));
  @include spacing(padding, right, var(--xl));

  @include tablet {
    width: 11.25rem;
    height: 3.75rem;
  }
  @include desktop {
    height: 5.125rem;
    @include spacing(margin, right, var(--xl));
  }
}

//use to insert spacing for navigation bar, per style guide
@mixin spacing-nav-bar {
  @include spacing(padding, bottom, var(--sm));
  width: 100%;

  @include tablet {
    width: fit-content;
    @include spacing(padding, bottom, var(--lg));
    @include spacing(margin, sides, var(--xl));
  }
  @include desktop {
    @include spacing(padding, bottom, var(--xl));
    @include spacing(margin, left, var(--lg));
    @include spacing(margin, right, var(--md));
  }
}

//use to insert padding for section header, per style guide
@mixin spacing-section-header {
  @include spacing(padding, top, var(--lg));
  @include spacing(padding, bottom, var(--sm));
  @include tablet {
    @include spacing(padding, top, var(--xxl));
    @include spacing(padding, bottom, var(--lg));
  }
}
//use to insert padding for header
@mixin spacing-header-left {
  @include tablet {
    @include spacing(padding, left, var(--xl));
  }
  @include desktop {
    @include spacing(padding, left, var(--xxxxl));
  }
}

//use to insert padding for main and footer
@mixin spacing-main-footer-sides {
  @include spacing(padding, left, var(--sm));
  @include spacing(padding, right, var(--sm));

  @include spacing-header-left; // left align padding like in header

  @include tablet {
    @include spacing(padding, right, var(--xl));
  }
  @include desktop {
    @include spacing(padding, right, var(--xxxl));
  }
}

// use to insert side padding for main article
@mixin spacing-article {
  @include tablet {
    @include spacing(padding, sides, 10%);
  }
  @include desktop {
  }
}

// use to insert side padding for comments
@mixin spacing-comments {
  @include tablet {
    @include spacing(padding, sides, 9%);
  }
  @include desktop {
    @include spacing(padding, sides, 25%);
  }
}

//use to insert spacing between components, per style guide
@mixin spacing-between-components($type: "") {
  //to use consistent margin to fields like input, textarea, or button
  @if $type == field {
    @include spacing(margin, bottom, var(--sm));

    @include tablet {
      @include spacing(margin, bottom, var(--md));
    }
  }

  /* use add padding at top of comments */
  @if $type == comment {
    @include spacing(padding, top, var(--sm));

    @include tablet {
      @include spacing(padding, top, var(--md));
    }
  }
  /* add padding at top of shows */
  @if $type == show {
    @include spacing(padding, top, var(--md));

    @include tablet {
      @include spacing(padding, top, 0);
    }
  }

  /* add margin at top and bottom of table */
  @if $type == table {
    @include spacing(margin, topbottom, var(--sm));

    @include tablet {
      @include spacing(margin, topbottom, var(--md));
    }
  } @else {
    @include spacing(padding, topbottom, var(--sm));

    @include tablet {
      @include spacing(padding, topbottom, var(--md));
    }
  }
}

/* Generic mixin to to add margin or padding, on which side, and how big
Expanded mixin created by https://codepen.io/ezos86/pen/QwQmZb */

@mixin spacing($type: margin, $direction: all, $amount: var(--md)) {
  @if $type == padding {
    @if $direction == all {
      padding: $amount;
    } @else if $direction == top {
      padding-top: $amount;
    } @else if $direction == topbottom {
      padding-top: $amount;
      padding-bottom: $amount;
    } @else if $direction == sides {
      padding-left: $amount;
      padding-right: $amount;
    } @else if $direction == left {
      padding-left: $amount;
    } @else if $direction == right {
      padding-right: $amount;
    } @else {
      padding-bottom: $amount;
    }
  } @else {
    @if $direction == all {
      margin: $amount;
    } @else if $direction == top {
      margin-top: $amount;
    } @else if $direction == topbottom {
      margin-top: $amount;
      margin-bottom: $amount;
    } @else if $direction == sides {
      margin-left: $amount;
      margin-right: $amount;
    } @else if $direction == left {
      margin-left: $amount;
    } @else if $direction == right {
      margin-right: $amount;
    } @else {
      margin-bottom: $amount;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                  Form and table                            */
/* -------------------------------------------------------------------------- */

// use to insert style that looks like line divider in style guide

@mixin line-divider($direction: "") {
  border-bottom: $border-style;
  @if $direction == topbottom {
    border-top: $border-style;
  }
}

//use to insert padding in form fields, per style guide
@mixin spacing-inside-fields {
  @include spacing(padding, all, calc(var(--xs) + 0.25rem));

  @include tablet {
    @include spacing(padding, all, var(--sm));
  }
}

//use to size comments images
@mixin avatar {
  height: $image-size-avatar-mobile;
  width: $image-size-avatar-mobile;
  border-radius: $border-radius-avatar;
  background-color: $color-secondary-mercury;

  @include tablet {
    height: $image-size-avatar-tablet;
    width: $image-size-avatar-tablet;
  }
}

//use to set consistent image container width between new and past comments
@mixin image-container-width {
  flex-basis: calc($image-size-avatar-mobile * 1.5);
  flex-grow: 0;
  flex-shrink: 0;
  @include tablet {
    flex-basis: calc($image-size-avatar-tablet * 1.5);
  }
}

//use to style comment form labels and  shows table headers

@mixin form-table-header-style {
  color: $color-primary-silver;
  text-transform: uppercase;
  font-weight: $semi-bold;
  font-size: 0.875rem;
  line-height: 1.25rem;

  @include tablet {
    font-size: 1.25rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                              Background images                             */
/* -------------------------------------------------------------------------- */
//use to insert logo - used in header/footer
@mixin insert-logo($direction: center) {
  background-image: url("../assets/logos/Logo-bandsite.svg");
  background-repeat: no-repeat;
  background-position: $direction;
  background-size: contain;
  background-color: $color-primary-bandsite-black;
}

//use to insert hero image with 50% grayscale overlay, per style guide
@mixin hero-img($url) {
  background: linear-gradient(
      rgba($color-primary-bandsite-black, 0.5),
      rgba($color-primary-bandsite-black, 0.5)
    ),
    url($url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
