@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

/* add left and right padding to each section in main  */
main > section {
  @include spacing-main-footer-sides;
}

.hero--bio {
  @include hero-img("../assets/images/hero-bio.jpg");

  height: 35vh;

  flex-direction: column;
  justify-content: center;

  @include tablet {
    height: 78vh;
    background-position: bottom;
  }
  @include desktop {
    height: 84vh;
    background-position: top;
  }
}

.about {
  @include tablet {
    padding-bottom: 1.25rem;
  }

  &__image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: left bottom;

    @include tablet {
      height: 30rem;
      object-position: left 70%;
    }
    @include desktop {
      height: 40rem;
      object-position: left 70%;
    }
  }
  &__quote {
    @include spacing-between-components;

    font-weight: $semi-bold;
    font-size: 1.375rem;
    line-height: 2.3125rem;

    @include tablet {
      font-size: 2.1875rem;
      line-height: 2.6875rem;
    }
  }

  &__quotefrom {
    display: block;
    @include spacing-between-components;
    @include tablet {
      font-size: 1.5625rem;
    }
  }
  &__article {
    @include spacing-article;
  }
  &__article-title {
    @include tablet {
      font-size: 2.375rem;
    }
  }
  &__para {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__para > p {
    @include tablet {
      font-size: 1.375rem;
      width: 47%;
    }
  }
}

.gallery {
  background-color: $color-secondary-alabaster;
  padding-bottom: 1.25rem;

  @include tablet {
    padding-bottom: 3.125rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    @include tablet {
      flex-direction: row;
      gap: 1.5625rem;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include desktop {
      gap: 2rem;
    }
  }

  &__image-item {
    flex-basis: 31%;
  }
  /* reordered images to match mockup so image 9 and 6 are swapped. */
  &__image-item:nth-child(6) {
    order: 4;
  }
  &__image-item:nth-child(7) {
    order: 2;
  }
  &__image-item:nth-child(8) {
    order: 3;
  }
  &__image-item:nth-child(9) {
    order: 1;
  }
  &__image-item img {
    width: 100%;
    border-radius: $border-radius-card;
    filter: grayscale(100%); // make image grayscale by default
    transition: 0.5s;
    &:hover {
      filter: grayscale(0%); // display in color on image hover
    }
  }
}

.comments {
  &__title {
  }
  &__comment-list-form-container {
    @include spacing-comments;
  }
  &__new-comment-container {
    display: flex;
  }
  &__image-container {
    @include image-container-width;
    @include spacing-between-components;
  }
  &__avatar {
    @include avatar;
    background-position: 15%;
  }
  &__avatar--new {
    background-image: url(../assets/images/Mohan-muruge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15%;
  }

  &__form {
    /* use entire width */
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
  }
  &__form > div {
    display: flex;
    flex-direction: column;
  }

  &__form > div > label {
    @include tablet {
      padding-bottom: 0.3125rem;
    }
  }

  &__new-user-name {
  }
  &__new-comment-txt {
  }
  &__new-comment-submit {
    @include tablet {
      float: right;
    }
  }

  &__list-container {
    display: flex;
    flex-direction: column;

    /* add bottom margin to display last divider */
    @include spacing-between-components(field);
  }
  &__comment-container {
    display: flex;

    /* add padding to top */
    @include spacing-between-components(comment);

    /* add divider after each comment */
    @include line-divider;

    /* also add line divider in first comment */
    &:first-child {
      @include line-divider(topbottom);
    }
  }
  &__comment-txt-container {
    display: flex;
    flex-direction: column;

    /* use entire width */
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
  }
  &__user-name-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__user-name {
  }
  &__date {
  }
  &__comment-txt {
  }
}
