@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero {
  margin-top: 200px; /* Add a top margin to avoid content overlay */
}
.about {
  &__title {
  }
  &__photo {
  }
  &__quote {
    @include spacing-between-components;

    font-weight: $semi-bold;
    font-size: 16px;
    line-height: 32px;

    @include tablet {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__quotefrom {
    display: block;
    @include tablet {
    }
  }
  &__article {
  }
  &__article-title {
  }
  &__title {
  }
  &__title > p {
  }
}

.gallery {
  &__photo {
  }
}
