/* Converted provided assets fonts using https://transfonter.org/
Using font weight per style guide
 */
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Generic mixin to to add margin or padding, on which side, and how big
Expanded mixin created by https://codepen.io/ezos86/pen/QwQmZb */
/* Set standard padding per styleguide,
following this guide https://sterlingcobb.medium.com/using-css-variables-with-margin-padding-4fec2ceb24d0 
*/
:root {
  --spacing-unit: 0.5rem;
  --xs: calc(var(--spacing-unit));
  --sm: calc(2 * var(--spacing-unit));
  --md: calc(3 * var(--spacing-unit));
  --lg: calc((4 * var(--spacing-unit)) + 0.25rem);
  --xl: calc(6 * var(--spacing-unit));
  --xxl: calc(12 * var(--spacing-unit));
  --xxxl: calc(18 * var(--spacing-unit));
  --xxxxl: calc(25 * var(--spacing-unit));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h1,
h2 {
  font-size: 2.3125rem;
  line-height: 2rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.625rem;
    line-height: 4.25rem;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.4375rem;
    line-height: 2.75rem;
  }
}

*:is(main, footer) > section h2 {
  padding-top: var(--lg);
  padding-bottom: var(--sm);
}
@media screen and (min-width: 768px) {
  *:is(main, footer) > section h2 {
    padding-top: var(--xxl);
    padding-bottom: var(--lg);
  }
}

h3 {
  font-weight: 600;
  font-size: 1.3125rem;
  line-height: 1.375rem;
}

/* adding spacing between subheader and paragraph components per styleguide. 
eg. article title, paragraphs, and footer agents, agent details including emails. */
*:is(main, footer) > section *:is(h3, p, a) {
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}
@media screen and (min-width: 768px) {
  *:is(main, footer) > section *:is(h3, p, a) {
    padding-top: var(--md);
    padding-bottom: var(--md);
  }
}

h4 {
  font-weight: 400;
  color: #afafaf;
  font-size: 1rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.8125rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

input,
textarea,
button {
  border-radius: 4px;
  font-family: inherit;
  padding-top: var(--sm);
  padding-bottom: var(--sm);
  margin-bottom: var(--sm);
}
@media screen and (min-width: 768px) {
  input,
  textarea,
  button {
    padding-top: var(--md);
    padding-bottom: var(--md);
  }
}
@media screen and (min-width: 768px) {
  input,
  textarea,
  button {
    margin-bottom: var(--md);
  }
}

input,
textarea {
  width: 100%;
  padding: calc(var(--xs) + 0.25rem);
  border: 1px solid #e1e1e1;
  /*   only show required field error state if empty on submit,
  and not browser load */
}
@media screen and (min-width: 768px) {
  input,
  textarea {
    padding: var(--sm);
  }
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #323232;
  font-size: 1.2rem;
}
input::placeholder,
textarea::placeholder {
  color: #323232;
  font-size: 1.2rem;
}
input:active,
textarea:active {
  border-color: #000;
}
input:user-invalid,
textarea:user-invalid {
  border-color: #d22d2d;
}
input:valid,
textarea:valid {
  border-color: rgb(6, 134, 6);
}

input {
  min-height: var(--lg);
}
@media screen and (min-width: 768px) {
  input {
    height: var(--xl);
  }
}

textarea {
  min-height: calc(var(--lg) * 3);
}
@media screen and (min-width: 768px) {
  textarea {
    height: calc(var(--xl) * 3);
  }
}

label,
button {
  text-transform: uppercase;
  font-weight: 600;
}

label {
  color: #afafaf;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  label {
    font-size: 0.75rem;
  }
}

button {
  font-size: 1.375rem;
  width: 100%;
  min-height: 2.5rem;
  color: #fff;
  background-color: #323232;
  padding: 1rem 2rem;
}
@media screen and (min-width: 768px) {
  button {
    width: 9.375rem;
  }
}
button:hover {
  background-color: #000;
}

/* add left and right padding to main and footer  */
*:is(main > section, footer) {
  padding-left: var(--sm);
  padding-right: var(--sm);
}
@media screen and (min-width: 768px) {
  *:is(main > section, footer) {
    padding-left: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  *:is(main > section, footer) {
    padding-left: var(--xxxxl);
  }
}
@media screen and (min-width: 768px) {
  *:is(main > section, footer) {
    padding-right: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  *:is(main > section, footer) {
    padding-right: var(--xxxl);
  }
}

.main {
  color: #323232;
}

.header {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  background-color: #323232;
  background-origin: content-box;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header {
    padding-left: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-left: var(--xxxxl);
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
}
.header__logo {
  background-image: url("../assets/logos/Logo-bandsite.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #323232;
  width: 100%;
  height: 1.875rem;
  margin-top: var(--md);
  margin-bottom: var(--md);
  padding-right: var(--xl);
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 11.25rem;
    height: 3.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    height: 5.125rem;
    margin-right: var(--xl);
  }
}
.header__link-container {
  height: 100%;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__link-container {
    justify-content: flex-start;
    align-items: stretch;
  }
}
.header__nav-li {
  flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  display: flex;
  align-items: flex-end;
}
.header__link {
  color: #e1e1e1;
  font-size: 1.125rem;
  font-weight: 600;
  border-bottom: 0.25rem solid #323232;
  padding-bottom: var(--sm);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__link {
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: var(--lg);
    margin-left: var(--xl);
    margin-right: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  .header__link {
    padding-bottom: var(--xl);
    margin-left: var(--lg);
    margin-right: var(--md);
  }
}
@media screen and (min-width: 768px) {
  .header__link {
    font-size: 1.375rem;
  }
}
.header__link--active {
  color: #fff;
  border-bottom: 0.25rem solid #fff;
}
.header__link:hover {
  border-bottom: 0.25rem solid #fff;
}
ul:has(.header__link:not(.header__link--active):hover) .header__link--active {
  border-color: #323232;
}

.footer {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 400;
  background-color: #323232;
  background-origin: content-box;
  color: #fff;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.25rem;
    line-height: 1.875rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-bottom: 2rem;
  }
}
.footer__contact {
  order: 1;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-start;
    gap: 5.625rem;
  }
}
.footer__social {
  display: flex;
  justify-content: space-between;
  width: 11rem;
}
.footer__social-icon {
  width: 2.1875rem;
  height: 2.1875rem;
}
.footer__logo {
  order: 3;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    order: 2;
  }
}
.footer__logo > div > div {
  background-image: url("../assets/logos/Logo-bandsite.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-color: #323232;
  width: 100%;
  height: 1.875rem;
  margin-top: var(--md);
  margin-bottom: var(--md);
  padding-right: var(--xl);
}
@media screen and (min-width: 768px) {
  .footer__logo > div > div {
    width: 11.25rem;
    height: 3.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo > div > div {
    height: 5.125rem;
    margin-right: var(--xl);
  }
}
@media screen and (min-width: 768px) {
  .footer__logo > div > div {
    background-image: url("../assets/logos/Logo-bandsite.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: #323232;
  }
}
.footer__agents {
  order: 2;
}
@media screen and (min-width: 768px) {
  .footer__agents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    order: 3;
  }
}
@media screen and (min-width: 1280px) {
  .footer__agents {
    justify-content: flex-start;
    gap: 7.25rem;
  }
}
.footer__copyright {
  font-size: 1rem;
  order: 4;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: inherit;
  }
}

.hero {
  margin-top: 6.75rem; /* Add a top margin to avoid content overlay */
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 78vh;
    background-position: bottom;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 84vh;
    background-position: top;
  }
}
.hero__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
}
.hero__title {
  padding-left: var(--sm);
  padding-right: var(--sm);
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-left: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding-left: var(--xxxxl);
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-right: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding-right: var(--xxxl);
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-left: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding-left: var(--xxxxl);
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding-bottom: 1.25rem;
  }
}
.about__image {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left bottom;
     object-position: left bottom;
}
@media screen and (min-width: 768px) {
  .about__image {
    height: 50vh;
    -o-object-position: left 70%;
       object-position: left 70%;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    height: 65vh;
    -o-object-position: left 70%;
       object-position: left 70%;
  }
}
.about__quote {
  padding-top: var(--sm);
  padding-bottom: var(--sm);
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 2.3125rem;
}
@media screen and (min-width: 768px) {
  .about__quote {
    padding-top: var(--md);
    padding-bottom: var(--md);
  }
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 2.1875rem;
    line-height: 2.6875rem;
  }
}
.about__quotefrom {
  display: block;
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}
@media screen and (min-width: 768px) {
  .about__quotefrom {
    padding-top: var(--md);
    padding-bottom: var(--md);
  }
}
@media screen and (min-width: 768px) {
  .about__quotefrom {
    font-size: 1.5625rem;
  }
}
@media screen and (min-width: 768px) {
  .about__article {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (min-width: 768px) {
  .about__article-title {
    font-size: 2.375rem;
  }
}
@media screen and (min-width: 768px) {
  .about__para {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .about__para > p {
    font-size: 1.375rem;
    width: 47%;
  }
}

.gallery {
  background-color: #fafafa;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 3.125rem;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    flex-direction: row;
    gap: 1.5625rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__container {
    gap: 2rem;
  }
}
.gallery__image-item {
  flex-basis: 31%;
}
.gallery__image-item:nth-child(6) {
  order: 4;
}
.gallery__image-item:nth-child(7) {
  order: 2;
}
.gallery__image-item:nth-child(8) {
  order: 3;
}
.gallery__image-item:nth-child(9) {
  order: 1;
}
.gallery__image-item img {
  width: 100%;
  border-radius: 5px;
  filter: grayscale(100%);
  transition: 0.5s;
}
.gallery__image-item img:hover {
  filter: grayscale(0%);
}

.comments__new-comment-container {
  display: flex;
}
.comments__image-container {
  flex-basis: 3.375rem;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}
@media screen and (min-width: 768px) {
  .comments__image-container {
    flex-basis: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .comments__image-container {
    padding-top: var(--md);
    padding-bottom: var(--md);
  }
}
.comments__avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-position: 15%;
}
@media screen and (min-width: 768px) {
  .comments__avatar {
    height: 3rem;
    width: 3rem;
  }
}
.comments__avatar--new {
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 15%;
}
.comments__form {
  flex: 1;
  flex-grow: 1;
  flex-basis: 0;
}
.comments__form > div {
  display: flex;
  flex-direction: column;
}
.comments__past-list-container {
  display: flex;
  flex-direction: column;
}
.comments__past-comment-container {
  display: flex;
  justify-content: space-between;
  border-color: #e1e1e1;
  border-width: 0.0625rem;
  border-style: solid none;
}
.comments__past-comment-txt-container {
  display: flex;
  flex-direction: column;
}
.comments__past-user-name-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=bio.css.map */