/* Converted provided assets fonts using https://transfonter.org/
Using font weight per style guide
 */
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Generic mixin to to add margin or padding, on which side, and how big
Expanded mixin created by https://codepen.io/ezos86/pen/QwQmZb */
/* Set standard padding per styleguide,
following this guide https://sterlingcobb.medium.com/using-css-variables-with-margin-padding-4fec2ceb24d0 
*/
:root {
  --spacing-unit: 8px;
  --xs: calc(var(--spacing-unit));
  --sm: calc(2 * var(--spacing-unit));
  --md: calc(3 * var(--spacing-unit));
  --lg: calc((4 * var(--spacing-unit)) + 4px);
  --xl: calc(6 * var(--spacing-unit));
  --xxl: calc(12 * var(--spacing-unit));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 22px;
  }
}

h1,
h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 36px;
    line-height: 44px;
  }
}

*:is(main, footer) > section > h2 {
  padding-top: var(--md);
  padding-bottom: var(--sm);
}
@media screen and (min-width: 768px) {
  *:is(main, footer) > section > h2 {
    padding-top: var(--xl);
    padding-bottom: var(--lg);
  }
}

h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

*:is(main, footer) > section h3 {
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}
@media screen and (min-width: 768px) {
  *:is(main, footer) > section h3 {
    padding-top: var(--lg);
    padding-bottom: var(--lg);
  }
}

a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

hr {
  color: #e1e1e1;
}

li {
  list-style: none;
}

/* align all text using same padding */
.header__logo,
main,
.footer {
  margin-left: var(--sm);
  margin-right: var(--sm);
}
@media screen and (min-width: 768px) {
  .header__logo,
  main,
  .footer {
    margin-left: var(--lg);
    margin-right: var(--lg);
  }
}
@media screen and (min-width: 1280px) {
  .header__logo,
  main,
  .footer {
    margin-left: var(--xxl);
    margin-right: var(--xxl);
  }
}

.header {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: #323232;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.header__logo {
  width: 100%;
  height: 30px;
  margin-top: var(--md);
  margin-bottom: var(--md);
  background-image: url("../../assets/logos/Logo-bandsite.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 160px;
    margin-top: var(--lg);
    margin-bottom: var(--lg);
  }
}
.header__link-container {
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .header__link-container {
    justify-content: flex-start;
  }
}
.header__nav-li {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}
.header__link {
  color: #e1e1e1;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: var(--sm);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__link {
    width: -moz-fit-content;
    width: fit-content;
    padding-top: var(--lg);
    padding-bottom: var(--lg);
    margin-left: var(--md);
    margin-right: var(--md);
  }
}
@media screen and (min-width: 1280px) {
  .header__link {
    padding-top: var(--lg);
    padding-bottom: var(--lg);
    margin-left: var(--sm);
    margin-right: var(--sm);
  }
}
.header__link--active {
  color: #fff;
  border-bottom: 4px solid #fff;
}
.header__link:hover {
  border-bottom: 4px solid #fff;
}
ul:has(.header__link:not(.header__link--active):hover) .header__link--active {
  border-color: #323232;
}

.cta {
  color: #afafaf;
}
.cta:hover {
  color: #000;
}
.cta:active {
  color: #fff;
}

.footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: #323232;
  background-origin: content-box;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 14px;
    line-height: 20px;
  }
}
.label,
.button {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .label,
  .button {
    font-size: 12px;
  }
}

.about__quote {
  padding-top: var(--sm);
  padding-bottom: var(--sm);
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}
@media screen and (min-width: 768px) {
  .about__quote {
    padding-top: var(--lg);
    padding-bottom: var(--lg);
  }
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 24px;
    line-height: 32px;
  }
}
.about__quotefrom {
  display: block;
}/*# sourceMappingURL=bio.css.map */