@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

/* add left and right padding to shows header and table cell  */
*:is(main > section > h2, td, th) {
  @include mobile {
    @include spacing-main-footer-sides;
  }
}

/* add same padding to entire left and right sides */
.main {
  @include tablet {
    @include spacing-main-footer-sides;
  }
}

.hero--shows {
  @include hero-img("../assets/images/hero-shows.jpg");

  flex-direction: column;
  height: 57vh;

  justify-content: center;

  @include tablet {
    height: 79vh;
    background-position: top 50% right 50%;
    justify-content: space-around;
  }
  @include desktop {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 84vh;
    gap: 15%;
    background-position: top 25% right 50%;
  }
  &__iframe {
    min-height: 11rem;
    max-width: 100%;
    @include tablet {
      max-width: 55%;
    }
    @include desktop {
      min-width: 40%;
    }
  }
  &__text {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 80%;
    @include desktop {
      max-width: 45%;
    }
  }
  &__subtitle {
    line-height: 6rem;
    font-size: 1.3rem; // changing heading size to match mockup

    @include tablet {
      font-size: 2.5rem; // changing heading size to match mockup
    }
  }
}

.shows {
  /* display shows table next to section header */
  @include desktop {
    display: flex;
    gap: 12.5rem;
  }

  &__title {
  }
  &__list-table {
    border-collapse: collapse; /* so borders are displayed on table rows */

    /* add margin at top and bottom of table */
    @include spacing-between-components(table);
    width: 100%;
  }

  /* Add consistent padding per styleguide for table header and cell */
  &__show-header,
  &__show-cell {
    @include spacing-table-header-cell;
  }
  &__show-header {
    /* Hide table headers by default */
    display: none;

    /* Show table headers on wider screens */
    @include tablet {
      display: table-cell;
      @include form-table-header-style;
    }
  }

  &__show-row {
    display: block;
    text-align: left;
    @include tablet {
      display: table-row;
    }
    font-size: 1.25rem; /* Size font in each row, per mockup*/

    &--data {
      @include line-divider; /* add bottom line divider, per mockup*/

      @include spacing-between-components(show); /* add padding to top */

      /* Set table row on hover per style guide */
      &:hover {
        background-color: $color-secondary-alabaster;
      }
      /* Set table row on select per style guide */
      &:active {
        background-color: $color-secondary-mercury;
      }
    }
    &--selected {
      background-color: $color-secondary-mercury;
    }
  }

  &__show-cell {
    /* Show row data */
    display: block;

    /* Reset td display to table-cell on wider screens */
    @include tablet {
      display: table-cell;
    }
    /* Show row header before each event, as a flat list */
    &::before {
      content: attr(data-label); /* Display data-label attribute */
      @include form-table-header-style;
      display: block;
      margin-bottom: 0.5rem; /* space between header and row */

      /* Hide row headers on wider screens */
      @include tablet {
        display: none;
      }
    }

    &--date {
      font-weight: $semi-bold;
    }
  }

  &__show-cta-container {
    text-align: right;
  }
  &__show-cta-btn {
    @include tablet {
      max-width: 85%;
    }
  }
}

/* Size table Date column per mockup*/
#date {
  @include desktop {
    width: 22.5rem;
  }
}
