/* Converted provided assets fonts using https://transfonter.org/
Using font weight per style guide
 */
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Comments avatars in bio page.
Applied consistent multiplier to style guide to match mockup */
/* -------------------------------------------------------------------------- */
/*                                Media queries                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   Padding                                  */
/* -------------------------------------------------------------------------- */
/* Generic mixin to to add margin or padding, on which side, and how big
Expanded mixin created by https://codepen.io/ezos86/pen/QwQmZb */
/* -------------------------------------------------------------------------- */
/*                                  Comments                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                              Background images                             */
/* -------------------------------------------------------------------------- */
/* Set standard padding per styleguide,
following this guide https://sterlingcobb.medium.com/using-css-variables-with-margin-padding-4fec2ceb24d0  */
:root {
  --spacing-unit: 0.5rem;
  --xs: calc(var(--spacing-unit));
  --sm: calc(2 * var(--spacing-unit));
  --md: calc(3 * var(--spacing-unit));
  --lg: calc((4 * var(--spacing-unit)) + 0.25rem);
  --xl: calc(6 * var(--spacing-unit));
  --xxl: calc(12 * var(--spacing-unit));
  --xxxl: calc(18 * var(--spacing-unit));
  --xxxxl: calc(25 * var(--spacing-unit));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Set font defaults per style guide */
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h1,
h2 {
  font-size: 2.3125rem;
  line-height: 2rem;
  font-weight: 600;
}

/* using as page header per style guide */
h1 {
  line-height: 3rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.625rem;
    line-height: 6rem;
  }
}

/* using as section header per styleguide*/
@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.4375rem;
    line-height: 2.75rem;
  }
}

/* styling section headers per styleguide. eg. "About the Musicians", "Photo Gallery", "Get In Touch" */
*:is(main, footer) > section h2 {
  padding-top: var(--lg);
  padding-bottom: var(--sm);
}
@media screen and (min-width: 768px) {
  *:is(main, footer) > section h2 {
    padding-top: var(--xxl);
    padding-bottom: var(--lg);
  }
}

/* using as subheader per styleguide eg. article title and footer agents. */
h3 {
  font-weight: 600;
  font-size: 1.3125rem;
  line-height: 1.375rem;
}

/* adding spacing between subheader and paragraph components per styleguide. 
eg. article title, paragraphs, and footer agents, agent details including emails. */
*:is(main, footer) > section *:is(h3, p, a) {
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}
@media screen and (min-width: 768px) {
  *:is(main, footer) > section *:is(h3, p, a) {
    padding-top: var(--md);
    padding-bottom: var(--md);
  }
}

/* used for comments dates, and comment form/shows headings */
h4 {
  font-weight: 400;
  color: #afafaf;
  font-size: 1rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.8125rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

/* apply style for form fields and CTA per style guide */
input,
textarea,
button {
  border-radius: 4px;
  font-family: inherit;
  margin-bottom: var(--sm);
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}
@media screen and (min-width: 768px) {
  input,
  textarea,
  button {
    margin-bottom: var(--md);
  }
}
@media screen and (min-width: 768px) {
  input,
  textarea,
  button {
    padding-top: var(--md);
    padding-bottom: var(--md);
  }
}

/* use full width, set spacing and border for form fields per style guide */
input,
textarea {
  width: 100%;
  padding: calc(var(--xs) + 0.25rem);
  border: 0.0625rem solid #e1e1e1;
  font-size: 1.2rem;
  background-color: #fafafa;
  /*  style placeholder text in fields */
  /*   only show required field error state if empty on submit,
  and not browser load */
}
@media screen and (min-width: 768px) {
  input,
  textarea {
    padding: var(--sm);
  }
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #323232;
  font-size: 1.2rem;
}
input::placeholder,
textarea::placeholder {
  color: #323232;
  font-size: 1.2rem;
}
input:active,
textarea:active {
  border-color: #000;
}
input:user-invalid,
textarea:user-invalid {
  border-color: #d22d2d;
}

/* set height for form input field per styleguide */
input {
  min-height: var(--lg);
}
@media screen and (min-width: 768px) {
  input {
    height: var(--xl);
  }
}

/*  set textarea height relative to input field */
textarea {
  min-height: calc(var(--lg) * 3);
}
@media screen and (min-width: 768px) {
  textarea {
    height: calc(var(--xl) * 3);
  }
}

/* upper case and set font weight for label and button text */
label,
button {
  text-transform: uppercase;
  font-weight: 600;
}

/* set font size and color for labels per style guide */
label {
  color: #afafaf;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  label {
    font-size: 0.75rem;
  }
}

/* used for CTA throughout site */
button {
  font-size: 1.375rem;
  width: 100%;
  min-height: 2.5rem;
  color: #fff;
  background-color: #323232;
  padding: 1rem 2rem;
}
@media screen and (min-width: 768px) {
  button {
    min-width: 9.375rem;
    width: 14rem;
  }
}
button:hover {
  background-color: #000;
}

/* add left and right padding to main and footer  */
*:is(main > section, footer) {
  padding-left: var(--sm);
  padding-right: var(--sm);
}
@media screen and (min-width: 768px) {
  *:is(main > section, footer) {
    padding-left: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  *:is(main > section, footer) {
    padding-left: var(--xxxxl);
  }
}
@media screen and (min-width: 768px) {
  *:is(main > section, footer) {
    padding-right: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  *:is(main > section, footer) {
    padding-right: var(--xxxl);
  }
}

/* set font color per style guide for dark on light background */
.main {
  color: #323232;
}

.header {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  background-color: #323232;
  background-origin: content-box;
  color: #fff;
  /* The Navigation Bar must be fixed to the top of the page */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header {
    padding-left: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-left: var(--xxxxl);
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
}
.header__logo {
  background-image: url("../assets/logos/Logo-bandsite.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #323232;
  width: 100%;
  height: 1.875rem;
  margin-top: var(--md);
  margin-bottom: var(--md);
  padding-right: var(--xl);
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 11.25rem;
    height: 3.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    height: 5.125rem;
    margin-right: var(--xl);
  }
}
.header__link-container {
  height: 100%;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__link-container {
    justify-content: flex-start;
    align-items: stretch;
  }
}
.header__nav-li {
  flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  display: flex;
  align-items: flex-end;
}
.header__link {
  color: #e1e1e1;
  font-size: 1.125rem;
  font-weight: 600;
  border-bottom: 0.25rem solid #323232;
  padding-bottom: var(--sm);
  width: 100%;
  /* hide active link underline if hover another link.
  */
}
@media screen and (min-width: 768px) {
  .header__link {
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: var(--lg);
    margin-left: var(--xl);
    margin-right: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  .header__link {
    padding-bottom: var(--xl);
    margin-left: var(--lg);
    margin-right: var(--md);
  }
}
@media screen and (min-width: 768px) {
  .header__link {
    font-size: 1.375rem;
  }
}
.header__link--active {
  color: #fff;
  border-bottom: 0.25rem solid #fff;
}
.header__link:hover {
  border-bottom: 0.25rem solid #fff;
}
ul:has(.header__link:not(.header__link--active):hover) .header__link--active {
  border-color: #323232;
}

.hero {
  margin-top: 6.75rem;
  color: #fff;
  display: flex;
  padding-left: var(--sm);
  padding-right: var(--sm);
}
@media screen and (min-width: 768px) {
  .hero {
    padding-left: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-left: var(--xxxxl);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-right: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-right: var(--xxxl);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-left: var(--xl);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-left: var(--xxxxl);
  }
}

.footer {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 400;
  background-color: #323232;
  background-origin: content-box;
  color: #fff;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.25rem;
    line-height: 1.875rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-bottom: 2rem;
  }
}
.footer__contact {
  order: 1;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-start;
    gap: 5.625rem;
  }
}
.footer__social {
  display: flex;
  justify-content: space-between;
  width: 11rem;
}
.footer__social-icon {
  width: 2.1875rem;
  height: 2.1875rem;
}
.footer__logo {
  order: 3;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    order: 2;
  }
}
.footer__logo > div > div {
  background-image: url("../assets/logos/Logo-bandsite.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-color: #323232;
  width: 100%;
  height: 1.875rem;
  margin-top: var(--md);
  margin-bottom: var(--md);
  padding-right: var(--xl);
}
@media screen and (min-width: 768px) {
  .footer__logo > div > div {
    width: 11.25rem;
    height: 3.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo > div > div {
    height: 5.125rem;
    margin-right: var(--xl);
  }
}
@media screen and (min-width: 768px) {
  .footer__logo > div > div {
    background-image: url("../assets/logos/Logo-bandsite.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: #323232;
  }
}
.footer__agents {
  order: 2;
}
@media screen and (min-width: 768px) {
  .footer__agents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    order: 3;
  }
}
@media screen and (min-width: 1280px) {
  .footer__agents {
    justify-content: flex-start;
    gap: 7.25rem;
  }
}
.footer__copyright {
  order: 4;
}
.footer__copyright > p {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright > p {
    font-size: inherit;
  }
}

th {
  /* Hide table headers by default */
  display: none;
  /* Show table headers on wider screens */
}
@media screen and (min-width: 768px) {
  th {
    display: table-cell;
    text-transform: uppercase;
  }
}

/* Show row header before each event, as a flat list */
td::before {
  content: attr(data-label); /* Display data-label attribute */
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px; /* space between header and row */
  /* Hide row headers on wider screens */
}
@media screen and (min-width: 768px) {
  td::before {
    display: none;
  }
}

/* Show row data */
td {
  display: block;
  margin-bottom: 10px; /* space between rows */
  /* Reset td display to table-cell on wider screens */
}
@media screen and (min-width: 768px) {
  td {
    display: table-cell;
  }
}

.hero--shows {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  height: 57vh;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .hero--shows {
    height: 79vh;
    background-position: top 50% right 50%;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1280px) {
  .hero--shows {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 84vh;
    gap: 15%;
    background-position: top 25% right 50%;
  }
}
.hero--shows__iframe {
  min-height: 11rem;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .hero--shows__iframe {
    max-width: 55%;
  }
}
@media screen and (min-width: 1280px) {
  .hero--shows__iframe {
    min-width: 40%;
  }
}
.hero--shows__text {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 80%;
}
@media screen and (min-width: 1280px) {
  .hero--shows__text {
    max-width: 45%;
  }
}
.hero--shows__subtitle {
  line-height: 6rem;
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .hero--shows__subtitle {
    font-size: 2.5rem;
  }
}

.shows__list-table {
  width: 100%;
}/*# sourceMappingURL=shows.css.map */